
<div class="panel panel-default">

	<button ng-click="firstPage()" class="btn btn-link">FIRST</button>
	<button ng-click="previousPage()" class="btn btn-link">PREVIOUS</button>
	<button ng-click="nextPage()" class="btn btn-link">NEXT</button>
	<button ng-click="lastPage()" class="btn btn-link">LAST</button>
</div>

<div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="tablecontainer">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Index</th>
					<th>ID.</th>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="foodItem in foodList.list.item">
					<td><span ng-bind="foodItem.offset + 1"></span></td>
					<td><span ng-bind="foodItem.id"></span></td>
					<td><span ng-bind="foodItem.name"></span></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
