<header id="top">

	<nav class="navbar navbar-default"></nav>
	<div id="menu"
		class="navbar navbar-default navbar-fixed-top navbar-custom">
		<div class="container">
			<div class="navbar-header page-scroll">

				<button class="btn navbar-btn navbar-toggle"
					data-target=".navbar-collapse" data-toggle="collapse" type="button">

					<span class="sr-only">Toggle navigation</span>
					Menu
					<i class="fa fa-bars"></i>
				</button>

					<a class="navbar-brand " href="./#/home"><h4>EAT BETTER</h4></a>

			</div>
			<div>
				<ul
					class="nav navbar-nav navbar-right navbar-collapse collapse top-2">
					<li ng-class="{active: isActive('/home')}"><a href='./#/home'>Home</a></li>
					<li ng-class="{active: isActive('/user')}"><a href="./#/user">User</a></li>
					<li ng-class="{active: isActive('/food')}"><a href="./#/food">Food</a></li>
				</ul>
			</div>
		</div>
	</div>

</header>