<header id="top">
	<nav class="navbar navbar-default navbar-custom" role="navigation">
		<div class="container-fluid">

			<div class="navbar-header page-scroll">
				<button class="btn navbar-btn navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
					<span class="sr-only">Toggle navigation</span>
					Menu <i class="fa fa-bars"></i>
				</button>

				<a class="navbar-brand " href="./#/home">
					<h4>EAT BETTER</h4>
				</a>

			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right top-2">
					<li ng-class="{active: isActive('/home')}" data-target=".navbar-collapse" data-toggle="collapse">
						<a href='./#/home'>Home</a>
					</li>
					<li ng-class="{active: isActive('/user')}" data-target=".navbar-collapse" data-toggle="collapse">
						<a href="./#/user">User</a>
					</li>
					<li ng-class="{active: isActive('/food')}" data-target=".navbar-collapse" data-toggle="collapse">
						<a href="./#/food">Food</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

</header>