<!-- Modal delete -->
<div class="modal fade" id="deleteDialog" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content panel-danger">
			<div class="modal-header  panel-heading">
				Question
				<a href="" class="close" data-dismiss="modal">&times;</a>
			</div>
			<div class="modal-body">Are you sure you want to delete the user '{{userNameClicked}}'?</div>
			<div class="modal-footer">
				<button class="btn btn-danger btn-sm" data-dismiss="modal" data-ng-click="deleteUser();">Delete</button>
				<button class="btn btn-sucess btn-sm" data-dismiss="modal">No</button>
			</div>
		</div>
	</div>
</div>