<html>
  <head>  
    <title>User</title>  
    <style>

    </style>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
     <link href="../static/css/bootstrap.css" rel="stylesheet"></link>
     <link href="../static/css/app.css" rel="stylesheet"></link>
  </head>
  <body ng-app="myApp" >
      <div class="generic-container" ng-controller="UserController as controller">
          <div class="panel panel-default">
              <div class="panel-heading"><span class="lead"> {{User}} </span></div>
          </div>
          
          <div class="panel panel-default">
                <!-- Default panel contents -->
              <div class="tablecontainer">
                  <table class="table table-hover">
                      <thead>
                          <tr>
                              <th>Login</th>
                              <th>Name</th>
                          </tr>
                      </thead>
                      <tbody>
                      	<tr>
                             <td><span ng-bind="User.login"></span></td>
                             <td><span ng-bind="User.name"></span></td>
                        </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
      
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
      <script src="../static/js/app.js"></script>
      <script src="../static/js/service/user_service.js"></script>
      <script src="../static/js/controller/user_controller.js"></script>
  </body>
</html>