
<!-- Search field -->
<div class="input-group col-md-6">
	<span class="input-group-addon">
		<span class="glyphicon glyphicon-search"></span>
	</span>
	<input type="text" ng-model="search.searchValue" ng-change="setPage(1)" ng-model-options="{debounce: 100}" autofocus class="form-control input-lg"
		name="search" id="search" placeholder="Search" />
</div>

<br />

<div class="panel panel-default">
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="col-xs-4  col-sm-4 col-lg-4">
						<a href="" ng-click="setSort('login')">
							<div class="col-md-11 col-xs-10">Login</div> <i
								ng-class="isSorted('login', 'asc')? 'fa fa-fw fa-sort-asc':
										  isSorted('login', 'desc') ? 'fa fa-fw fa-sort-desc': 'fa fa-fw fa-sort'">
							</i>
						</a>
					</th>
					<th class="col-xs-6 col-sm-5 col-lg-6">
						<a href="" ng-click="setSort('name')">
							<div class="col-md-11 col-xs-10">Name</div> <i
								ng-class="isSorted('name', 'asc')? 'fa fa-fw fa-sort-asc':
										  isSorted('name', 'desc') ? 'fa fa-fw fa-sort-desc': 'fa fa-fw fa-sort'">
							</i>
						</a>
					</th>
					<th class="col-xs-1 col-sm-2 col-lg-1"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in userList">
					<td>
						<span ng-bind="user.login"></span>
					</td>
					<td>
						<span ng-bind="user.name"></span>
					</td>
					<td>
						<a ng-click="editUser(user.id)" class="btn btn-primary btn-xs">edit</a> <a ng-click="deleteUser(user.id)" class="btn btn-danger btn-xs">delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<!-- Pagination -->
<div class="row">
	<div class="text-center">
		<ul class="pagination pagination-sm ">
			<li class="page-item" ng-class="{disabled:pageable.number === 1}">
				<a ng-click="setPage(1)" href="">First</a>
			</li>
			<li ng-class="{disabled:pageable.number === 1}">
				<a ng-click="setPage(pageable.number - 1)" href="">Previous</a>
			</li>

			<li ng-repeat="page in pagesNumberArray" ng-class="{active:pageable.number === page}">
				<a ng-click="setPage(page)" href="">{{page}}</a>
			</li>

			<li ng-class="{disabled:pageable.number === pageable.totalPages}">
				<a ng-click="setPage(pageable.number + 1)" href="">Next</a>
			</li>
			<li ng-class="{disabled:pageable.number === pageable.totalPages}">
				<a ng-click="setPage(pageable.totalPages)" href="">Last</a>
			</li>
		</ul>
	</div>
</div>

