<html>
<head>
<title>User</title>
<style>
</style>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link href="../static/css/bootstrap.css" rel="stylesheet"></link>
<link href="../static/css/app.css" rel="stylesheet"></link>
</head>
<body ng-app="myApp">
	<div class="generic-container"
		ng-controller="UserController as controller">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="lead"> List of users </span>
			</div>
		</div>

		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="tablecontainer">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Login</th>
							<th>Name</th>
							<th style="width: 20px;"></th>
							<th style="width: 20px;"></th>
						</tr>
						<tr>
							<td><input ng-model="search.login" ng-change="setPage(1)"
								ng-model-options="{debounce: 100}" /></td>
							<td><input ng-model="search.name" ng-change="setPage(1)"
								ng-model-options="{debounce: 100}" /></td>
							<td style="width: 20px;"></td>
							<td style="width: 20px;"></td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="user in userList">
							<td><span ng-bind="user.login"></span></td>
							<td><span ng-bind="user.name"></span></td>
							<td><a ng-click="editUser(user.id)"
								class="btn btn-small btn-primary">edit</a></td>
							<td><a ng-click="deleteUser(user.id)"
								class="btn btn-small btn-danger">delete</a></td>
						</tr>
					</tbody>
				</table>

			<pagination total-items="pageable.totalElements" ng-model="pageable.number" ng-change="setPage()"  
			class="pagination-sm" boundary-links="true" rotate="false" max-size="numberPage" num-pages="pageable.totalPages" ></pagination>
   
			</div>

		</div>
	</div>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
	<script
		src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
	<script src="../static/js/app.js"></script>
	<script src="../static/js/service/user_service.js"></script>
	<script src="../static/js/controller/user_controller.js"></script>
</body>
</html>